body {
  height: 100%;
  width: 100%;
}

.carousel-item{
  width: 100%;
}

.titleplease{
  font-family: Lucida Handwriting;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.footer {
  width: 100%;
  background-color: #36454F;
  bottom: 0px;
  color: white;
  font-size: 20px;
}

.social img {
  height: 30px;
  width: 30px;
}

#instagram {
  height: 30px;
  width: 50px;
}

.coaches {
  background-color: #e0e0e0;
  height: 100%;
}

.players {
  background-color: white;
  height: 100%;
}
.sponsors{
  height:125px;
  width:200px;
}

/* The hero image */
.hero-image {
    background-image: url("https://www.katieskomets.org/images/IMG_1006[1].jpg");
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /* Set a specific height */
  height: 100%;
  width: 100%;
  top: 14px;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.index-jumbotron {
  background-image: url("https://www.katieskomets.org/images/IMG_1006[1].jpg");
}
.contact-jumbo {
  background-color: #36454F;
}
.intro-text{
   text-shadow: 2px 2px #ff0000;
}
